<!DOCTYPE html>
<html ng-app="labelEditor">
<head>
    <title></title>
    <meta charset="utf-8" />
</head>
<body>
    <div ng-controller="labelCollection as vm">
        <ul>
            <li ng-repeat="label in vm.sequence">
                <span contenteditable
                      ng-model="label.Text"
                      class="ColorLabel"
                      ng-change="vm.update(label)"
                      ng-model-options="{debounce: 250}"
                      ng-style="{'background-color': label.Color }" />
            </li>
        </ul>
    </div>
    <script src="Scripts/angular.js"></script>
    <script src="Scripts/angular-resource.js"></script>
    <script src="App_Scripts/labelEditor.js"></script>
    <script src="App_Scripts/contentEditable.js"></script>
    <script src="App_Scripts/labelCollection.js"></script>
    <script src="App_Scripts/labelDataService.js"></script>
</body>
</html>
